<div class="search-box-component"
        [ngStyle]="{
            width: width
        }"
    >
        <input 
            [(ngModel)]="searchQuery"
            (keyup)="onKey($event)"
            [ngStyle]="{
                padding: padding,
                borderColor: borderColor
            }"
            [formControl]="term"
            placeholder="{{ text }}">
        <button
            (click)="onClear()"
            *ngIf="showClearBtn && !showOnTypeing"
            [ngStyle]="{
                padding: padding
            }"
            >x</button>
            <div *ngIf="showOnTypeing" class="search-box-loading"></div>
    </div>